---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Groups</a></li>
          <li class="active">Group name</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header">
        <h1>Group name</h1>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar navigation-sidebar">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">Group name</a></li>
          <li role="presentation"><a href="#">Forum</a></li>
          <li role="presentation"><a href="#">Blog</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="presentation"><a href="#">Subpage</a></li>
            </ul>
          </li>
          <li role="presentation"><a href="#">Members</a></li>
        </ul>
      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-content">
              <p class="lead">This is the description for the group. It is a single line or so.</p>
            </div>
            
            <div class="feed">
              <h2 class="quiet">Recent activity</h2>
              
              <div class="panel panel-default">

              <ol class="list-group list-feed">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-2 col-xs-3">
                      <%= image_tag lorem.image('80x80', :text => '80x80') %>
                    </div>

                    <div class="col-md-10 col-xs-9">
                      <ul class="list-inline">
                        <li><a>Person's name</a></li>
                        <li>></li>
                        <li><a>Person's name</a></li>
                      </ul>

                      <small class="post-date">13 March</small>
                      <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </li>
                
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-2 col-xs-3">
                      <%= image_tag lorem.image('80x80', :text => '80x80') %>
                    </div>

                    <div class="col-md-10 col-xs-9">
                      <ul class="list-inline">
                        <li><a>Person's name</a></li>
                        <li>></li>
                        <li><a>Person's name</a></li>
                      </ul>

                      <small class="post-date">13 March</small>
                      <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </li>
                
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-2 col-xs-3">
                      <%= image_tag lorem.image('80x80', :text => '80x80') %>
                    </div>

                    <div class="col-md-10 col-xs-9">
                      <ul class="list-inline">
                        <li><a>Person's name</a></li>
                        <li>></li>
                        <li><a>Person's name</a></li>
                      </ul>

                      <small class="post-date">13 March</small>
                      <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </li>
                
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-2 col-xs-3">
                      <%= image_tag lorem.image('80x80', :text => '80x80') %>
                    </div>

                    <div class="col-md-10 col-xs-9">
                      <ul class="list-inline">
                        <li><a>Person's name</a></li>
                        <li>></li>
                        <li><a>Person's name</a></li>
                      </ul>

                      <small class="post-date">13 March</small>
                      <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </li>
                
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-2 col-xs-3">
                      <%= image_tag lorem.image('80x80', :text => '80x80') %>
                    </div>

                    <div class="col-md-10 col-xs-9">
                      <ul class="list-inline">
                        <li><a>Person's name</a></li>
                        <li>></li>
                        <li><a>Person's name</a></li>
                      </ul>

                      <small class="post-date">13 March</small>
                      <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </li>
                
              </ol>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
          <div class="group-admin sidebar-secondary">
            <h4>Admins</h4>
            <ul class="list-unstyled">
              <li><a>Admin name</a></li>
            </ul>
          </div>
          <aside role="complementary" class="page-advert-sidebar">
            optional sidebar
          </aside>
        </div>
      </div>
      
      
      
    </div>
    
    
  </div>
  
</div>