---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li class="active">News item</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header">
        <h1>News item</h1>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar">
        
        <%= link_to "Return to news", "news.html" %>

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-content">
              <p><%= lorem.sentences 3 %></p>  
              <p><%= lorem.sentences 3 %></p>  
              <p><%= lorem.sentences 3 %></p>  
              <p><%= lorem.sentences 3 %></p>  
              <h3>This is a heading three</h3>
              <p><%= lorem.sentences 3 %></p> 
              <p><%= lorem.sentences 3 %></p>  
              <h3 class="">This is a heading three</h3>
              <p><%= lorem.sentences 3 %></p>  
              
              
            </div>

      </div> 
    </div>
    
      <div class="col-md-3 col-md-offset-1">
        <div class="sidebar-secondary">
            <h4>Recent news</h4>
            <ul class="list-unstyled">
              <li><a>Sheffield Hospitals awarded £115,000 for patient Arts sessions</a></li>
              <li><a>Sheffield Hospitals awarded £115,000 for patient Arts sessions</a></li>
              <li><a>Dapibus ac facilisis in</a></li>
              <li><a>Sheffield Hospitals awarded £115,000 for patient Arts sessions</a></li>
            </ul>
            
            <h4>Upcoming events</h4>
            <ul class="list-unstyled">
              <li><a>Dapibus ac facilisis in</a></li>
              <li><a>Sheffield Hospitals awarded £115,000 for patient Arts sessions</a></li>
              <li><a>Sheffield Hospitals awarded £115,000 for patient Arts sessions</a></li>
              <li><a>Sheffield Hospitals awarded £115,000 for patient Arts sessions</a></li>
            </ul>
          </div>
      
          <aside role="complementary" class="page-advert-sidebar">
            optional sidebar
          </aside>
        </div>
      </div>
    </div>
    
    
       
  </div>
</div>